!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamento para astronautas</title>
    <style>
        body {
            background-color: rgb(92, 92, 250);
        }
        h1 {
            color: rgb(246, 247, 249);
            
        } 
        li{
            color:aliceblue;
        }
        h3{
            color: black;
        }
        h2{
            color:aliceblue;
        }
        #astronomy-class{
            color: black;
        }
